<main id="main" class="main">
<div class="col-12">
    <button type="back" class="btn btn-primary addbtn"  [routerLink]="['/property-list']">Back</button>
  </div>
  <h3 class="heading">PROPERTY</h3>
  <br>
  <h4 class="heading">Details of Current Building Occupant by Them</h4>
  
  
  <form #basicForm="ngForm" name="form1" id="form1" (ngSubmit)="getData(basicForm.value)"
  action="/action_page.php">
  
  
  
  
  <!-- --------------------- Availability Row----------------- -->
  <div class="row g-2  mtform">
    <div class="col-md-6">
  <div class="form-group">
    <label for="exampleFormControlInput1">Availability :</label><br />
    <select name="availability" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
      name="availability" id="availability" #availability="ngModel" required> <br>
      <option value="Available" selected="selected" class="form-control" > 🟢 Available</option> <br>
     <option value="Vacant" selected="" class="form-control"> 🟡 Vacant</option>
      <option value="Not Available" selected="" class="form-control"> 🔴 Not Available</option>
    </select>
    <div *ngIf="availability.touched && availability.invalid"  style="color: red;">
      <div *ngIf = "availability.errors?.['required']">
        required *
      </div>
    </div>
  </div>
  </div>
  <!-- --------------------- tenant Name Row----------------- -->
  <div class="col-md-6">
  <div class="form-group">
    <label for="exampleFormControlInput1">Tenant Name :</label>
    <input type="tenant_Name" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
      name="tenant_Name" id="tenant_Name" #tenant_Name="ngModel" required>
      <span *ngIf="tenant_Name.invalid && tenant_Name.touched" style="color: red;"> required *
      </span>
  </div>
  </div>
  <!-- --------------------- Lease Start Row----------------- -->
  <div class="col-md-6">
  <div class="form-group">
    <label for="exampleFormControlInput1">Lease Start :</label>
    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
      name="lease_Start" id="lease_Start" #lease_Start="ngModel" required>
      <span *ngIf="lease_Start.invalid && lease_Start.touched" style="color: red;"> required *
      </span>
  </div>
  </div>
  <!-- --------------------- Lease Expiry Row----------------- -->
  
  <div class="col-md-6">
    <div class="form-group"> 
      <label for="exampleFormControlInput1">Lease Expiry :</label>
      <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel name="lease_Expiry"
        id="lease_Expiry" #lease_Expiry="ngModel" required>
        <span *ngIf="lease_Expiry.invalid && lease_Expiry.touched" style="color: red;"> required * </span>   
    </div>
  </div>
  
  <!-- --------------------- Occupied Floor Row----------------- -->
  <div class="col-md-12">
  <div class="form-group">
    <label for="exampleFormControlInput1">Occupied Floor :</label>
    <input type="Occupied_Floor " class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
      name="occupied_Floor" id="occupied_Floor" #occupied_Floor="ngModel" required>
      <span *ngIf="occupied_Floor.invalid && occupied_Floor.touched" style="color: red;"> required *
      </span>
  </div>
  </div>
  </div>
  
  
  
  <!-- --------------------- Owner Building Details Form--------------- -->
  
  
  
  <h3 class="heading2">Owner Building Details</h3>
  <div class="row g-3 mtform">
  
  <!-- --------------------- Sector----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Building_No:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Building_No" id="Building_No"  required #Building_No="ngModel" minlength="4">
          <span *ngIf="Building_No.invalid && Building_No.touched" style="color: red;"> required *</span>         
        </div>
    </div>
  
  <!-- --------------------- Sector----------------- -->
  
    <div class="col-md-6">
      <div class="form-group"> 
        <label for="exampleFormControlInput1">Sector:</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel name="Sector"
          id="Sector" #Sector="ngModel" required>
          <span *ngIf="Sector.invalid && Sector.touched" style="color: red;"> required *</span>   
      </div>
    </div>
  <!-- --------------------- Block----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Block:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel name="Block"
          id="Block" #Block="ngModel" required> 
          <span *ngIf="Block.invalid && Block.touched" style="color: red;"> required * </span>   
      </div>
    </div>
  
  <!-- --------------------- Building_Age ----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Building_Age:</label>
        <input  type="name" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Building_Age" id="Building_Age" #Building_Age="ngModel" required > 
          <span *ngIf="Building_Age.invalid && Building_Age.touched" style="color: red;"> required * </span>   
      </div>
    </div>
  
  <!-- --------------------- Ratting----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Ratting:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel name="Ratting"
          id="Ratting" #Ratting="ngModel" required> 
          <span *ngIf="Ratting.invalid && Ratting.touched" style="color: red;"> required *</span>   
      </div>
    </div>
  
  <!-- --------------------- Availability Row----------------- -->
  
    <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Availability :</label><br />
          <select name="availability1" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
            name="availability1" id="availability1" #availability1="ngModel" required> 
            <option value="Available" selected="selected" class="form-control" > 🟢 Available</option> <br>
           <option value="Vacant" selected="" class="form-control"> 🟡 Vacant</option>
            <option value="Not Available" selected="" class="form-control"> 🔴 Not Available</option>
          </select>
          <div *ngIf="availability1.touched && availability1.invalid"  style="color: red;">
            <div *ngIf = "availability1.errors?.['required']">
              required *
            </div>
          </div>
        </div>
    </div>
  
  <!-- --------------------- Glass_or_Comestic----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Glass_or_Comestic:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Glass_or_Comestic" id="Glass_or_Comestic" #Glass_or_Comestic="ngModel" required>
          <span *ngIf="Glass_or_Comestic.invalid && Glass_or_Comestic.touched" style="color: red;"> required *</span>   
      </div>
    </div>
  
  
  <!-- --------------------- Facing----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Facing:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel name="Facing"
          id="Facing" #Facing="ngModel" required>
          <span *ngIf="Facing.invalid && Facing.touched" style="color: red;"> required * </span>   
      </div>
    </div>
  
  
  <!-- --------------------- Road_mtr----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Road_Mtr:</label>
        <input type="numbar" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Road_mtr" id="Road_mtr" #Road_mtr="ngModel" required>
          <span *ngIf="Road_mtr.invalid && Road_mtr.touched" style="color: red;"> required *</span>   
      </div>
    </div>
  
  
  <!-- --------------------- Domind----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Domind:</label>
        <input type="numbar" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel name="Domind"
          id="Domind" #Domind="ngModel" required>
          <span *ngIf="Domind.invalid && Domind.touched" style="color: red;"> required *</span>   
      </div>
    </div>
  
  <!-- --------------------- Maintanance----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Maintanance:</label>
        <input type="numbar" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Maintanance" id="Maintanance" #Maintanance="ngModel" required> 
          <span *ngIf="Maintanance.invalid && Maintanance.touched" style="color: red;"> required * </span>   
      </div>
    </div>
  
  <!-- --------------------- Fire_NOC----------------- -->
  
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlInput1">Fire_NOC:</label>
        <input type="numbar" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Fire_NOC" id="Fire_NOC" #Fire_NOC="ngModel" required>
          <span *ngIf="Fire_NOC.invalid && Fire_NOC.touched" style="color: red;"> required *</span>   
      </div>
    </div>
  
    <!-- --------------------- Meter_Leading----------------- -->
  
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlInput1">Meter_Leading:</label>
        <input type="numbar" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel
          name="Meter_Leading" id="Meter_Leading" #Meter_Leading="ngModel" required> 
          <span *ngIf="Meter_Leading.invalid && Meter_Leading.touched" style="color: red;">  required *</span>
      </div>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary addbtn" [disabled]="basicForm.invalid"   >Submit</button>
    </div>
  </div>
  </form>
  
</main>