<main id="main" class="main">
  <div class="pagetitle">
    <h1 class="Fontcolor">Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="Fontcolor">Home</a></li>
        <li class="breadcrumb-item active Fontcolor" style="color: #ffffff;" >Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <div class="row g-3">
    <div class="col-md-6">
      <div class="totalproperty">
        <img src="./assets/image 46 (Traced).png" class="icon gg" alt="icon" />
        <div class="gg">
          <h3>Total Properties</h3>
        </div>
        <div class="gg">
          <h4>4,562</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="propertysale">
            <h4>Propeties for Sale</h4>
            <div class="ff">
              <img
                src="./assets/image 46 (Traced).png"
                class="icon2"
                alt="icon"
              />
              <div class="hh">
                <h4>2,356</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="propertysale">
            <h4>Propeties for Rent</h4>
            <div class="ff">
              <img
                src="./assets/image 46 (Traced).png"
                class="icon2"
                alt="icon"
              />

              <div class="hh">
                <h4>2,206</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="revenue">
        <img src="./assets/revenue.png" class="img1" alt="" />
      </div>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="overview">
        <img src="./assets/overview.png" class="img" alt="" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="overview">
        <img src="./assets/chart.png" class="img" alt="" />
      </div>
    </div>
  </div>
</main>
<!-- End #main -->
