<main id="main" class="main">
    <div class="container" style="width: 100%;">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-6 d-flex flex-column align-items-center justify-content-center">



                        <div class="card mb-3">

                            <div class="card-body">
                                <div class="loginbox">
                                    <div class="pt-4 pb-2">
                                        <div class="d-flex justify-content-center py-4">
                                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                                <img src="assets/img/logo.png" alt="">
                                                <span class="d-none d-lg-block">Velldone</span>
                                            </a>
                                        </div>

                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>
                                    <mat-card class="box">

                                        <form class="example-form" >
                                            <mat-card-content>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Enter Your name"
                                                        name="Enter Your name">
                                                </mat-form-field> <br>

                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Username" name="user">
                                                </mat-form-field> <br>

                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Enter Your Email"
                                                        name="Enter Your Email">
                                                </mat-form-field>
                                            </mat-card-content>
                                            <button mat-stroked-button color="accent" class="btn-block loginbtn">Create
                                                Account</button>
 
                                            <div class="col mt-3">
                                                <span class="mr-2">Don't have Account?</span><a routerLink="/login">Login</a>
                                            </div>
                                        </form>
                                    </mat-card>

                                </div>



                            </div>
                        </div>


                    </div>
                </div>
        

        </section>

    </div>
</main>




